.Message {
  z-index: 1000;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;

  display: flex !important;
  align-items: center;
  justify-content: center;
  .window {
    width: 90vw;
    max-width: 40rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .window-top {
      padding: 1rem;
      display: flex;
      width: 100%;
      background-color: rgb(91, 91, 255);
      max-height: 5rem;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      h2 {
        align-self: center;
        margin: 0.3rem;
        color: white;
      }
      button {
        border: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-top: 0 !important;
        width: 2.5rem;
        font-weight: 600;
        align-self: flex-end;
      }
      button:hover {
        background-color: rgb(255, 0, 0);
        cursor: pointer;
        color: white;
      }
    }
    .window-bottom {
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 1.5rem;
        text-align: center;
        color: black;
      }
      input,
      button {
        border: none;
        padding: 0.5rem;
        font-size: 1.5rem;

        font-weight: 600;
      }
      input {
        font-weight: 200;
        border: 1px solid black;
        background-color: rgb(238, 238, 238);
      }
      button:hover {
        background-color: rgb(255, 0, 0);
        cursor: pointer;
        color: white;
      }
    }
  }
}
