.AddExpense {
  flex-grow: 1;
  background-color: rgba(241, 241, 241, 0);
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  height: 92%;
  .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .cat-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: scroll;
    .cat {
      background-color: rgb(212, 212, 212);
      flex-grow: 1;
      margin: 1rem;
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 900px) {
  .AddExpense {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;

    .top {
      display: flex;
      justify-content: center;
      align-items: center;

      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
    }
  }
}
