@import "../../../colors";

.AddExpense {
  flex-grow: 1;

  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  height: 92%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .top {
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .infoList {
    overflow-y: scroll;

    height: 70vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 1rem;
      min-width: 10rem;
      max-width: 160px;
      max-height: 200px;
      padding-top: 0rem;
      background-color: rgba(255, 255, 255, 0);
      flex-grow: 1;
      margin: 1rem;
      border: 2.5px solid $base-color;
      border-radius: 1.7rem;
      font-size: 1rem;
      box-shadow: 0rem 0.7rem 1.5rem rgba(0, 0, 0, 0.253);
      color: white;
      cursor: pointer;
      svg,
      img {
        margin-top: 2rem;
        width: 3rem;
        height: 3rem;
      }
    }

    .info:hover {
      background-color: $base-color;
      color: white;
    }
  }

  .exp-sum {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top {
      width: 100%;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.288);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    input {
      margin: 1rem;
      padding: 1rem;
      font-size: 1.3rem;
      width: 10rem;
    }
    button {
      padding: 1rem;
      border: none;
      font-size: 1.4rem;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(170, 170, 170);
    }
  }
}

@media only screen and (max-width: 900px) {
  .AddExpense {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    .infoList {
      overflow-y: scroll;
      height: calc(92vh - 5rem);
    }
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.288);
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
      height: 5rem;
    }
  }
}
