.AddExpense {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(241, 241, 241, 0);
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  height: 92%;
}

.AddExpense .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.AddExpense .infoList {
  overflow-y: scroll;
  height: 100%;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.AddExpense .infoList .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  min-width: 10rem;
  max-width: 160px;
  padding-top: 0rem;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5rem;
  border: 2.5px solid #7c4dfd;
  border-radius: 1.7rem;
  font-size: 1.5rem;
  -webkit-box-shadow: 0rem 0.7rem 1.5rem rgba(0, 0, 0, 0.253);
          box-shadow: 0rem 0.7rem 1.5rem rgba(0, 0, 0, 0.253);
  color: #7c4dfd;
  cursor: pointer;
}

.AddExpense .infoList .info svg {
  margin-top: 2rem;
  width: 5rem;
  height: 3rem;
}

.AddExpense .infoList .info:hover {
  background-color: #7c4dfd;
  color: white;
}

.AddExpense .exp-sum {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AddExpense .exp-sum .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.AddExpense .exp-sum input {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  width: 10rem;
}

.AddExpense .exp-sum button {
  padding: 1rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.AddExpense .exp-sum button:hover {
  background-color: #aaaaaa;
}

@media only screen and (max-width: 900px) {
  .AddExpense {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .AddExpense .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
}
/*# sourceMappingURL=AddExpense.css.map */