@import "../../../colors";

.Dashboard {
  flex-grow: 1;

  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  height: 92%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .head {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2rem;
      margin-bottom: 0.1rem;
    }
    p {
      margin-top: 0.2rem;
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.671);
      font-weight: 400;
    }
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 4px solid rgb(255, 255, 255);
      background-color: blanchedalmond;
      cursor: pointer;
    }
    img:hover {
      filter: brightness(80%);
    }
  }
  .mainInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 3;
    color: white;
    justify-content: center;
    align-items: flex-start;
    border-top: 2px solid rgba(233, 233, 233, 0.623);
    border-top-right-radius: 5rem;
    .text {
      padding: 0.5rem;
      margin-left: 1rem;

      select {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(218, 218, 218);
        font-weight: 400;
        option {
          background-color: rgba(0, 0, 0, 0.795);
        }
      }
      h2 {
        margin: 0rem;
        padding: 0;
        font-size: 2rem;
        s {
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }
  }
  .infoList {
    overflow-y: scroll;
    background-color: $base-bg-color;

    height: 12rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    display: flex;

    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    padding: 1rem;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;

      min-width: 8rem;
      background-color: rgb(255, 255, 255);
      flex-grow: 1;
      margin: 0.5rem;
      border: 2.5px solid $base-color;
      border-radius: 1.7rem;
      font-size: 1.2rem;
      box-shadow: 0rem 0.7rem 1.5rem rgba(0, 0, 0, 0.253);
      color: $base-color;
      cursor: pointer;
      strong {
        font-size: 1.3rem;
      }
    }
    .info.main {
      background-color: $base-color;
      color: white;
    }
  }

  .graph {
    flex-grow: 80;
    color: white;
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
      width: 90%;
      height: 80%;
      border-bottom: 1px solid black;
      border-radius: 1rem;
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.253);
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      .bar {
        height: 40%;
        width: 4rem;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: all ease 1s;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        box-shadow: 1rem -0.1rem 0.5rem $base-color;
        z-index: 5;
        p {
          margin: 0;
          font-size: 1.5rem;
          font-weight: 500;
          transform: translateY(-1rem);
        }
      }
      .bar:nth-of-type(1) {
        background-color: $graph-color1;
      }
      .bar:nth-of-type(2) {
        background-color: $graph-color3;
      }
    }
    .line {
      width: 90%;
      box-shadow: 0rem -0.5rem 0.7rem black;
      height: 2px;
    }
    .labels {
      width: 90%;
      font-weight: 500;
      height: 10%;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.274);
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .Dashboard {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    ::-webkit-scrollbar {
      width: 0px;
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0);
      border-radius: 1rem;
    }
  }
}
