@import "../../../colors";
.Loading {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background: $base-color;
  background: linear-gradient(348deg, rgb(255, 255, 255) 0%, $base-color 100%);
  box-shadow: 1rem 3rem 3rem rgba(131, 131, 131, 0.747);

  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 40vmin;
    animation: spin 4s linear infinite;
  }
  h1 {
    color: white;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
