@import "../../../colors";

.Family {
  flex-grow: 1;
  background-color: rgba(241, 241, 241, 0);
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  height: 92%;

  .top {
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
  }
  .family-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    .list-elem {
      background-color: rgba(141, 141, 141, 0.445);
      font-size: 0.8rem;
      margin: 1rem;
      width: 40vw;
      height: 60vw;
      min-width: 300px;
      min-height: 370px;
      display: flex;
      flex-direction: column;

      .title {
        width: 100%;
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}
