.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
  margin-top: 1rem;
  height: 6vh;
  min-height: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Nav .button {
  padding-top: 0.5rem;
  height: 100%;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.Nav .button img {
  width: 1.5rem;
  margin-bottom: 0.2rem;
  z-index: 1002;
}

.Nav .button p {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  opacity: 1;
}

.Nav .button:nth-of-type(3) {
  width: 15vw;
}

.Nav .button:nth-of-type(3) img {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.Nav .button:nth-of-type(3) p {
  font-size: 0;
}

.Nav .button:nth-of-type(1) {
  border-bottom-left-radius: 1rem;
}

.Nav .button:nth-last-of-type(2) {
  border-bottom-right-radius: 1rem;
}

.Nav .button.active {
  background-color: #c2c2c2;
}

.Nav .button:nth-of-type(3).active {
  background-color: white;
}

.Nav .indicator {
  position: absolute;
  z-index: 1001;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  left: 50%;
  top: calc(90vh + 1rem - 5.5vh);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: #6c3bff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 900px) {
  .Nav {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding-top: 0;
  }
  .Nav .indicator {
    position: absolute;
    z-index: 1001;
    width: 4rem;
    height: 4rem;
    margin: calc((20vw - 4rem) / 2);
    top: auto;
    margin-bottom: 0.6rem;
    border-radius: 50%;
    bottom: 1rem;
    left: 0;
    pointer-events: none;
    background-color: #6c3bff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 5px solid #17005e;
  }
  .Nav .indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0px -10px 0 0 #17005e;
            box-shadow: 0px -10px 0 0 #17005e;
    z-index: 1;
  }
  .Nav .indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 0px -10px 0 0 #17005e;
            box-shadow: 0px -10px 0 0 #17005e;
    z-index: 1;
  }
  .Nav .button {
    background-color: rgba(240, 248, 255, 0);
  }
  .Nav .button img {
    -webkit-filter: invert(0%);
            filter: invert(0%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 1.8rem;
  }
  .Nav .button p {
    height: 0;
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
    opacity: 0;
  }
  .Nav .button:nth-of-type(3) {
    width: 20vw;
  }
  .Nav .button:nth-of-type(3) img {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: invert(0%);
            filter: invert(0%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .Nav .button:nth-of-type(3) p {
    height: 0;
    -webkit-transform: scaleY(0%);
            transform: scaleY(0%);
    opacity: 0;
  }
  .Nav .button.active {
    background-color: rgba(240, 248, 255, 0);
  }
  .Nav .button.active img {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .Nav .button.active p {
    -webkit-transform: scaleY(100%) translateY(-50%);
            transform: scaleY(100%) translateY(-50%);
    height: 100%;
    font-size: 0.8rem;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .Nav .button:nth-of-type(1).active ~ .indicator {
    -webkit-transform: translateX(calc(20vw * 0));
            transform: translateX(calc(20vw * 0));
  }
  .Nav .button:nth-of-type(2).active ~ .indicator {
    -webkit-transform: translateX(calc(20vw * 1));
            transform: translateX(calc(20vw * 1));
  }
  .Nav .button:nth-of-type(3).active ~ .indicator {
    -webkit-transform: translateX(calc(20vw * 2));
            transform: translateX(calc(20vw * 2));
  }
  .Nav .button:nth-of-type(4).active ~ .indicator {
    -webkit-transform: translateX(calc(20vw * 3));
            transform: translateX(calc(20vw * 3));
  }
  .Nav .button:nth-of-type(5).active ~ .indicator {
    -webkit-transform: translateX(calc(20vw * 4));
            transform: translateX(calc(20vw * 4));
  }
}
/*# sourceMappingURL=Nav.css.map */