@import "../../../colors";

.Nav {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0rem -1rem 1rem rgba(196, 196, 196, 0.178);
  height: 6vh;
  min-height: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  justify-content: space-around;

  .button {
    padding-top: 0.5rem;
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    img {
      width: 1.8rem;

      margin-bottom: 0.2rem;
      z-index: 1002;
    }
    p {
      height: 100%;
      margin: 0;
      padding: 0;
      font-size: 0.7rem;
      opacity: 1;
    }
  }
  .button:nth-of-type(3) {
    width: 15vw;
    img {
      transform: translateY(-1rem);
    }
    p {
      font-size: 0;
    }
  }
  .button:nth-of-type(1) {
    border-bottom-left-radius: 1rem;
  }
  .button:nth-last-of-type(2) {
    border-bottom-right-radius: 1rem;
  }
  .button.active {
    background-color: rgb(194, 194, 194);
  }
  .button:nth-of-type(3).active {
    background-color: white;
  }

  .indicator {
    position: absolute;
    z-index: 1001;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;

    left: 50%;
    top: calc(90vh + 1rem - 5.5vh);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    background-color: $base-color;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 900px) {
  .Nav {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding-top: 0;

    .indicator {
      position: absolute;
      z-index: 1001;
      width: 4rem;
      height: 4rem;
      margin: calc((20vw - 4rem) / 2);
      top: auto;
      margin-bottom: 0.5rem;
      border-radius: 50%;
      bottom: 1.5rem;
      left: 0;
      pointer-events: none;
      background-color: $base-color;
      transition: 0.5s;
    }
    .button {
      background-color: rgba(240, 248, 255, 0);
      p {
        height: 0;
        transform: scaleY(0%);
        opacity: 0;
      }
    }
    .button:nth-of-type(3) {
      width: 20vw;
      img {
        transform: translateY(0rem);
      }
      p {
        height: 0;
        transform: scaleY(0%);
        opacity: 0;
      }
    }
    .button.active {
      background-color: rgba(240, 248, 255, 0);
      img {
        transform: translateY(-1.5rem);
      }
      p {
        transform: scaleY(100%) translateY(-20%);
        height: 100%;
        font-size: 0.8rem;
        opacity: 1;
        transition: 0.5s;
      }
    }

    .button:nth-of-type(1).active ~ .indicator {
      transform: translateX(calc(20vw * 0));
    }
    .button:nth-of-type(2).active ~ .indicator {
      transform: translateX(calc(20vw * 1));
    }
    .button:nth-of-type(3).active ~ .indicator {
      transform: translateX(calc(20vw * 2));
    }
    .button:nth-of-type(4).active ~ .indicator {
      transform: translateX(calc(20vw * 3));
    }
    .button:nth-of-type(5).active ~ .indicator {
      transform: translateX(calc(20vw * 4));
    }
  }
}
