.App {
  height: 90vh;
  width: 50vmin;
  background: rgb(0, 22, 255);
  background: linear-gradient(
    348deg,
    rgba(0, 22, 255, 1) 0%,
    rgba(158, 175, 255, 1) 100%
  );
  box-shadow: 1rem 3rem 3rem rgba(131, 131, 131, 0.747);
  border-radius: 2rem;
  border: 1rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

@media only screen and (max-width: 900px) {
  .App {
    height: calc(100vh - 3px);
    width: 100vw;
    background: rgb(0, 22, 255);
    background: linear-gradient(
      348deg,
      rgba(0, 22, 255, 1) 0%,
      rgba(158, 175, 255, 1) 100%
    );
    border-radius: none;
    border: none;
    box-shadow: none;
    border-radius: 0rem;
  }
}
