@import "../colors.scss";
$base-color: #6c3bff;
$base-color2: #110042;
.App {
  user-select: none;
  height: 100vh;
  width: 100vw;
  background: $base-color;
  background: linear-gradient(348deg, #110042 0%, #6c3bff 100%);
  display: flex;
  box-shadow: 1rem 3rem 3rem rgba(0, 0, 0, 0.747);
  flex-direction: column;
  align-items: center;
  justify-content: end;

  .offline {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1001;
  }
}
::-webkit-scrollbar {
  width: 0px;
}
@media only screen and (max-width: 900px) {
  .App {
    margin-top: 0;
    height: calc(100vh - 2px);
    width: 100vw;
    background: $base-color;
    background: linear-gradient(348deg, $base-color2 0%, $base-color 100%);
    border-radius: none;
    border: none;
    box-shadow: none;
    border-radius: 0rem;
  }
}
