@import "../colors";
.App {
  height: 90vh;
  width: 50vmin;
  background: $base-color;
  background: linear-gradient(348deg, rgb(255, 255, 255) 0%, $base-color 100%);
  box-shadow: 1rem 3rem 3rem rgba(131, 131, 131, 0.747);
  border-radius: 2rem;
  border: 1rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  .offline {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 1001;
  }
}
::-webkit-scrollbar {
  width: 0px;
}
@media only screen and (max-width: 900px) {
  .App {
    height: calc(100vh - 2px);
    width: 100vw;
    background: $base-color;
    background: linear-gradient(
      348deg,
      rgb(255, 255, 255) 0%,
      $base-color 100%
    );
    border-radius: none;
    border: none;
    box-shadow: none;
    border-radius: 0rem;
  }
}
