$base-color: rgb(124, 77, 253);
$base-bg-color: #f5f5f5;

$graph-color1: #ff3535;
$graph-color2: #60ff39;
$graph-color3: #2bfff4;
$graph-color4: #5f43ff;
$graph-color5: #ff34a4;
$graph-color6: #f2ff39;
