$base-color: #6c3bff;
$base-color2: #110042;
$base-bg-color: #f5f5f5;

$graph-color1: #ff3535;
$graph-color2: #22e22c;
$graph-color3: #2baaff;
$graph-color4: #5f43ff;
$graph-color5: #ff34a4;
$graph-color6: #f2ff39;
